/* Remove border and outline from text input */
.custom-text-input {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 10px;
}

/* Customize the file input container */
.custom-file-input-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

/* Hide the default file input */
.custom-file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Custom styles for the file input label */
.custom-file-input-label::before {
    content: 'Pilih Gambar';
    color: #ccc;
    font-size: 1.2rem;
    text-align: center;
}

.card-detail-post{
    box-sizing: border-box;
}
.post-image {
    width: 100%;
    height: auto;
    max-height: 100%; 
    object-fit: contain; 
}

/* Modal Konfirm Pwd*/
.modal-backdrop {
    z-index: 1040 !important;
}
.modal-content {
    z-index: 1050 !important;
}
.modal {
    display: none;
    overflow: auto;
    overflow-y: auto;
}
